div {
  font-family: system-ui;
  font-weight: bolder 10px;
  font-size: 17px;
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 10px;
}

h2 {
  font-family: system-ui;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  padding-left: 0;
  padding-top: 20px;
}

hr {
    border: none;
    margin-top: 50px;
    background-color: grey;
    color: grey;
    height: 1px;
}

.end {
  font-family: Trebuchet MS, sans-serif;
  font-size: 14px;
  text-align: left;
  background-color: #edfafc;
}

a {
  text-align: left;
  color: #7d7d7d;
}

.text {
  background: #edfafc;
  display: block;
  list-style-type: circle;
  text-align: left;
  font-style: oblique;
  font-weight: normal;
}
.textt {
  background: #edfafc;
  display: block;
  text-align: left;
  font-weight: normal;
}
h3 {
  padding-top: 20px;
  padding-bottom: 0;
}

.chem {
  text-align: center;
}
