body {
  margin:0;
}
ul {
  margin:0;
  background: #D4E7EE;
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
}
li {
  display: inline;
}

a {
  font-family: Century Gothic;
  font-size: 18px;
  padding:20px;
  color: #29838C;
  text-decoration: none;
  text-indent: 30px;
  }
