body {
  margin:0;
}
ul {
  margin:0;
  background: #D4E7EE;
  overflow: hidden;
  padding: 0px;
}

a {
  font-family: Century Gothic;
  font-size: 16px;
  display: inline-table;
  padding:10px;
  border-right: 1px solid #ADC0CE;
  background: rgba(173, 192, 206, .3);
  color: #29838C;
  }
